name = "backend-service"
main = "src/index.ts"
compatibility_date = "2025-11-15"
compatibility_flags = ["nodejs_compat"]
[observability]
[observability.logs]
enabled = false
head_sampling_rate = 1
invocation_logs = true
persist = true